[OSEv3:children]
lb
masters
etcd
nodes
nfs

[lb]
loadbalancer.{{ ansible_nodename.split(".")[1] }}.internal

[masters]
master1.{{ ansible_nodename.split(".")[1] }}.internal
master2.{{ ansible_nodename.split(".")[1] }}.internal
master3.{{ ansible_nodename.split(".")[1] }}.internal

[etcd]
master1.{{ ansible_nodename.split(".")[1] }}.internal
master2.{{ ansible_nodename.split(".")[1] }}.internal
master3.{{ ansible_nodename.split(".")[1] }}.internal

[nodes]
## These are the masters and etcd
master1.{{ ansible_nodename.split(".")[1] }}.internal openshift_node_group_name='node-config-master' openshift_node_problem_detector_install=true
master2.{{ ansible_nodename.split(".")[1] }}.internal openshift_node_group_name='node-config-master' openshift_node_problem_detector_install=true
master3.{{ ansible_nodename.split(".")[1] }}.internal openshift_node_group_name='node-config-master' openshift_node_problem_detector_install=true

## These are infranodes
infranode1.{{ ansible_nodename.split(".")[1] }}.internal openshift_node_group_name='node-config-infra' openshift_node_problem_detector_install=true
infranode2.{{ ansible_nodename.split(".")[1] }}.internal openshift_node_group_name='node-config-infra' openshift_node_problem_detector_install=true

## These are regular nodes
node1.{{ ansible_nodename.split(".")[1] }}.internal openshift_node_group_name='node-config-compute' openshift_node_problem_detector_install=true
node2.{{ ansible_nodename.split(".")[1] }}.internal openshift_node_group_name='node-config-compute' openshift_node_problem_detector_install=true
node3.{{ ansible_nodename.split(".")[1] }}.internal openshift_node_group_name='node-config-compute' openshift_node_problem_detector_install=true
node4.{{ ansible_nodename.split(".")[1] }}.internal openshift_node_group_name='node-config-compute' openshift_node_problem_detector_install=true


[nfs]
support1.{{ ansible_nodename.split(".")[1] }}.internal
